.App {
  width: 20%;
  min-width: 300px;
  padding: 1rem;
  margin: 0 auto;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 2px solid lightgray;
  box-shadow: 4px 4px 4px 2px darkgray;
  border-radius: 16px;
  color: rgb(24, 22, 22);
}
